.mail-list {
    display: flex;
    width: 100%;
    background-color: var(--bg-index);
    border-top: 1px solid var(--line-seperator);
}

.mail-list ul {
    width: 85vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    border-bottom: 1px solid var(--line-seperator);
    background-color: var(--bg-side-bar);
    cursor: pointer;
    height: 40px;
}

.cell:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow;
    transform: scale(1);
}

.cell:hover .preview-btn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cell.read {
    font-weight: normal;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: rgb(255 255 255 / 90%);
    border-inline-end: 1px solid #ccc;
    min-width: 200px;
    transform: translateX(-100%);
    transition: transform 0.6s, box-shadow 0.6s;
    z-index: 6;
}