button.unread,
button.unread:hover,
button.unread:focus,
button.unread:active {
  background-color: transparent !important;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}


.content {
    display: flex;
}

.details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    color: var(--color-primary-txt);
    font-family: Arial, sans-serif;
}

.details h2 {
    font-size: 14px;
    margin: 0 0 4px;
    font-weight: 500;
    color: var(--color-primary-txt);
}

.details h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    color: var(--color-secondary-txt); 
}

.details h4 span {
    margin-left: 8px;
    color: var(--color-secondary-txt);
    font-weight: normal;
}

.details p {
    margin: 4px 0 0;
    font-size: 12px;
    color: var(--color-secondary-txt);
}

button.close {
    background: transparent;
    border: none;
    color: var(--color-secondary-txt);
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    transition: color 0.2s ease;
}

button.close i {
    margin-left: 4px;
}

button.unread {
    margin-top: 0.5rem;
    background: transparent;
    border: none;
    color: var(--color-secondary-txt);
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    transition: color 0.2s ease;
}

button.unread i {
        transition: color 0.2s ease;
    margin-left: 4px;
}

button.unread:hover {
    color: var(--color-primary-txt);
    background-color: none;
}

.preview-btn {
    justify-content: center;
    align-content: center;
    display: flex;
}