.note-filter {
    background-color: var(--gray1);
    padding-block: 1em;
    display: grid;
}
 
.note-filter form, .search-bar {
    grid-template-columns: 100px 200px;
    gap: .5em;
    display: grid;
    height: 100%;
}

.search-note-txt {
    align-items: center;
}

.search-bar {
    max-height: 3.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 0.9rem;
    line-height: 1.2;

    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    border: none;
    outline: none;
    resize: none;

    overflow: hidden;
    transition: all 0.3s ease;
}