@font-face {
    font-family: googlesans;
    src: url('/assets/fonts/googlesans/GoogleSansCode-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
}