.upper-index-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-index-bars .btns-app{
    height: 100%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}