.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a.active {
    font-weight: bold;
    text-decoration: overline;
}

.navbar-logo {
    width: 1.5rem;
    aspect-ratio: 1;
}

.app-logo {
    width: 5rem;
}